<div class="hero">
  <a class="button" routerLink="/Login" routerLinkActive="activebutton" ariaCurrentWhenActive="page">login </a>
  <a class="button" routerLink="/signUp" routerLinkActive="activebutton" ariaCurrentWhenActive="page">signUp</a>
  <a class="button" routerLink="/manager" routerLinkActive="activebutton" ariaCurrentWhenActive="page">manager</a>
  <div class="DivSearch">
    <a class="buttonSearch" routerLink="/healthySweet" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
      <strong>healthy sweet</strong> </a>
    <a class="buttonSearch" routerLink="/healthySalty" routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"><strong>healthy salty</strong> </a>
    <a class="buttonSearch" routerLink="/aboutUs" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
      <strong>aboutUs</strong> </a>
  </div>
</div>
<router-outlet></router-outlet>