


<div class="bigDiv">
    
  
  <div class="content" role="main">
    <!-- Resources -->
    <h2>WELCOME MANAGER!</h2>
    <p>מה תרצה לעשות?</p>
    <div class="card-container">
      <a class="card" >
        <span>להוסיף נכסים</span>
      </a>
      <a class="card"  >
        <span>להסיר משתמשים</span>
      </a>
      <a class="card" >
        <span>מעקב טבלאות</span>
      </a>
    </div>
    <!-- Next Steps -->
    <h2>Next Steps</h2>
    <p>דברים נוספים...</p>
    <input type="text" placeholder="להשאיר הודעה למזכירות" style="margin-top: 2%; color: rgb(62, 188, 230);border-color: darkblue;">
    <div class="card-container">
    </div>
  </div>
  </div>


  <router-outlet></router-outlet>
