.divLogin {
    border: 5% solid #000000;
    padding-top: 7%;
    text-align: center;

}

.login {
     margin: 2%; 
    color: rgb(127, 203, 236);
    /* margin-top: 15%; */
}

.pInDiveLogin {
    font-size: 25pt;
    color: darkblue;
}

.but {
    color: lightblue;
    border: 0% lightblue;
    border-color: aliceblue;
}